# 全局代价地图参数
global_costmap:
  global_costmap:
    ros__parameters:
      global_frame: map
      robot_base_frame: base_link
      update_frequency: 1.0
      publish_frequency: 1.0
      width: 10.0
      height: 10.0
      resolution: 0.05
      origin_x: -5.0
      origin_y: -5.0
      always_send_full_costmap: true
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]
      
      # 导入通用参数
      __import: "config/nav2_params/costmap_common.yaml"
