# 局部代价地图参数
local_costmap:
  local_costmap:
    ros__parameters:
      global_frame: odom
      robot_base_frame: base_link
      update_frequency: 5.0
      publish_frequency: 2.0
      width: 3.0
      height: 3.0
      resolution: 0.05
      origin_x: -1.5
      origin_y: -1.5
      rolling_window: true
      always_send_full_costmap: true
      plugins: ["obstacle_layer", "inflation_layer"]
      
      # 导入通用参数
      __import: "config/nav2_params/costmap_common.yaml"
