<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="imu_sensor" params="prefix:='imu'">
    
    <link name="${prefix}_link">
      <visual>
        <geometry>
          <box size="0.02 0.02 0.01"/>
        </geometry>
        <material name="black"/>
      </visual>
      
      <collision>
        <geometry>
          <box size="0.02 0.02 0.01"/>
        </geometry>
      </collision>
      
      <xacro:box_inertia m="0.01" x="0.02" y="0.02" z="0.01"/>
    </link>


    <joint name="${prefix}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${prefix}_link"/>
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
    </joint>

    <gazebo reference="${prefix}_link">
      <sensor name="${prefix}_sensor" type="imu">
        <always_on>1</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>${prefix}/data</topic>
        <imu>
          <angular_velocity>
            <x><noise type="gaussian"><mean>0.0</mean><stddev>2e-4</stddev></noise></x>
            <y><noise type="gaussian"><mean>0.0</mean><stddev>2e-4</stddev></noise></y>
            <z><noise type="gaussian"><mean>0.0</mean><stddev>2e-4</stddev></noise></z>
          </angular_velocity>
          <linear_acceleration>
            <x><noise type="gaussian"><mean>0.0</mean><stddev>1.7e-2</stddev></noise></x>
            <y><noise type="gaussian"><mean>0.0</mean><stddev>1.7e-2</stddev></noise></y>
            <z><noise type="gaussian"><mean>0.0</mean><stddev>1.7e-2</stddev></noise></z>
          </linear_acceleration>
        </imu>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
