<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="lidar_sensor" params="prefix:='lidar'">

    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.05" radius="0.05"/>
        </geometry>
        <material name="black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.05" radius="0.05"/>
        </geometry>
      </collision>
      <xacro:cylinder_inertia m="0.1" r="0.05" h="0.05"/>
    </link>

    <joint name="${prefix}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${prefix}_link"/>
      <origin xyz="0 0 0.20" rpy="0 0 0"/>
    </joint>

    <gazebo reference="${prefix}_link">
      <sensor name="${prefix}" type="gpu_lidar">
        
        <topic>/scan</topic>
        
        <frame_id>${prefix}_link</frame_id>
        
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1.0</resolution>
              <min_angle>-3.14159</min_angle>
              <max_angle>3.14159</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.1</min>
            <max>10.0</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
